* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    border-radius: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding: 40px;
    background-color: lightblue;
}

.head {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10; 
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

h2,p {
    color: black;
    font-style: italic;
}

p {
    margin-bottom: 10%;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.row {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.checkbox-group {
    margin-top: 10px;
}

.checkbox-group label {
    display: block;
    font-weight: normal;
}

small {
  color: #888;
}

button {
    margin-top: 20px;
    width: 100px;
    padding: 12px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
    color: white;
}